@import "tailwindcss";

/* 🔹 Bu joyga o'z brend ranglaringni kirit */
@theme {
  --color-primary: #013d8c;
  --color-secondary: #f59e0b;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
}

/* 🔸 Umumiy o'zgaruvchilar (istalgancha) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}
