@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand-main: #6e8cfb;
  --color-brand-secondary: #636ccb;
  --color-brand-yordamchi: #696fc7;
}

html {
  scroll-behavior: smooth;
}
